/*-----------------------*/
/* Custom Properties     */
/*-----------------------*/

:root{

  /* colors */
  --clr-dark: 230 35% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;

  /* font size */
  --fs-200: 0.875rem;
  --fs-300: 1rem;
  --fs-400: 1.125rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 3.5rem;
  --fs-800: 6.25rem;
  --fs-900: 9.375rem;

  /* font famliy */

  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;


}




/*-----------------------*/
/* Reset                 */
/*-----------------------*/


/* General */

ul{
  list-style-type: none;
}

/* Box sizin */
*,
*::before,
*::after{
  box-sizing: border-box;
}

/* makes the margin even on both top and bottom */
/* flow > :not(:first-child) */
/* code below behaves like the one above */
.flow > * + *{
  margin-top: var(--flow-space, 1rem);
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
  margin: 0;
}

/* Sets up the body */
body{
  font-family: var(--ff-sans-normal);
  font-size: var(--fs-400);
  background:hsl(var(--clr-dark) );
  color: hsl(var(--clr-white) );
  line-height: 1.5;
  min-height: 100vh;
}

/* Makes images esaier to work with */

img, 
picture{
  max-width: 100%;
  display: block;
}

/* make forms elements easier to work with */
input,
textarea,
button,
select{
  font: inherit;
}

a,
a:visited{
  text-decoration: none;
  color: inherit;
}

/* removes animations for people who've turned them off */

@media (prefers-reduced-motion: reduce){
  *,
  *::before,
  *::after{
    animation-duration: 0.01 ms !important ;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}



/*-----------------------*/
/* Utility classes       */
/*-----------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.container {
  padding: 0 2em;
  max-width: 80rem;
  margin: 0 auto;
}

/* Screen reader only, meant for people with visual disablities */

.sr-only {

  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /*Added line*/
  border: 0;
}


/* colors */

.bg-dark{background-color: hsl(var(--clr-dark) );}
.bg-light{background-color: hsl(var(--clr-light) );}
.bg-white{background-color: hsl(var(--clr-white) );}

.text-dark{color: hsl(var(--clr-dark) );}
.text-light{color: hsl(var(--clr-light) );}
.text-white{color: hsl(var(--clr-white) );}

 /* Typography */

 .ff-serif{ font-family: var(--ff-serif);}
 .ff-sans-cond{ font-family: var(--ff-sans-cond);}
 .ff-sans-normal{ font-family: var(--ff-sans-normal);}

 .uppercase{ text-transform: uppercase;}


 .fs-200{font-size: var(--fs-200);}
 .fs-300{font-size: var(--fs-300);}
 .fs-400{font-size: var(--fs-400);}
 .fs-500{font-size: var(--fs-500);}
 .fs-600{font-size: var(--fs-600);}
 .fs-700{font-size: var(--fs-700);}
 .fs-800{font-size: var(--fs-800);}
 .fs-900{font-size: var(--fs-900);}
 
 .fs-600,
 .fs-700,
 .fs-800,
 .fs-900{
  line-height: 1.1;
 }

 .numbered-title{
  font-family: var(--ff-sans-cond);
  font-size: var(--fs-400);
  font-weight: 500;
  letter-spacing: 0.300rem;
  text-transform: uppercase;
  margin-right: 1em;

}

.numbered-title > span{
  margin-right: .1em;
  font-weight: 700;
  color: hsl(var(--clr-white) / 0.25 );
}


/*-----------------------*/
/* Components            */
/*-----------------------*/
.large-button {
  position: relative;
  z-index: 1;
  display: grid;
  place-items: center;
  padding: 0 2em;
  border-radius: 50%;
  aspect-ratio: 1;
  text-decoration: none;
}

.large-button::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: hsl( var(--clr-white) / .1);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.large-button:hover::after,
.large-button:focus::after {
  opacity: 1;
  transform: scale(1.5);
}

.primary-navigation {
  --gap: 8rem;
  --underline-gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.primary-navigation a {
  text-decoration: none;
}

.primary-navigation a > span {
  font-weight: 700;
  margin-right: .5em;
}

.underline-indicators > * {
  padding: var(--underline-gap, 1rem) 0;
  border-bottom: .2rem solid hsl( var(--clr-white) / 0 );
}

.underline-indicators > *:hover,
.underline-indicators > *:focus {
  border-color: hsl( var(--clr-white) / .5);
}

.underline-indicators > li > a > .active{
  border-color: hsl( var(--clr-white) / 1);
}



.navbar{
  place-items: center;
  margin: 2rem 0rem 0 2rem;
  padding: 0;
}
.navbar img{
  margin-right: auto;
}

